<ol class="breadcrumb">
  <li><a href="#/plans">Plans</a></li>
  <li class="active">{{ plan }}</a></li>
</ol>

<div class="panel panel-danger" ng-if="planObject.start_timestamp == undefined">
  <div class="panel-heading">
    Plan is not running
  </div>
</div>

<div class="panel" ng:class="{'panel-info': planObject.status == 'ready', 'panel-primary': planObject.status == 'running', 'panel-success': planObject.status == 'done', 'panel-danger': planObject.status == 'failed'}" ng-if="planObject.start_timestamp != undefined">
  <div class="panel-heading">
  	Jobs Execution (Started {{ planObject.start_timestamp * 1000|date:'medium' }}<span ng-if="planObject.end_timestamp">, finished {{ planObject.end_timestamp * 1000|date:'medium' }}</span>)
  </div>
  <div class="panel-body">
    <table class="table table-hover table-condensed table-responsive ">
    	<thead>
    		<tr>
    			<td>Module name</td>
    			<td>Options</td>
    			<td>Host</td>
    			<td>Status</td>
    			<td></td>
    		</tr>
    	</thead>
    	<tbody>
    	  <tr style="display: none" ng-repeat-start="job in jobs track by identity(job)"></tr>
    	  	<tr ng-class="{'warning': plan == job.module}">
	    	  	<td ng-if="job.module != plan">{{ job.module }}</td>
            <td ng-if="job.module == plan"><b>{{ job.module }}</b></td>
	    	  	<td style="word-wrap: break-word; max-width: 200px;">{{ job.options }}</td>
	    	  	<td>{{ job.host }}</td>
	    	  	<td ng-if="job.status == 'failed'"><span class="label label-danger">{{ job.status }}</span></td>
	    	  	<td ng-if="job.status == 'success'"><span class="label label-success">{{ job.status }}</span></td>
	    	  	<td ng-if="job.status == 'testing'"><span class="label label-warning">{{ job.status }}</span></td>
	    	  	<td ng-if="job.status == 'running'"><span class="label label-primary">{{ job.status }}</span></td>
	    	  	<td ng-if="job.status == 'post_test'"><span class="label label-warning">{{ job.status }}</span></td>
	    	  	<td ng-if="job.status == 'ready'"><span class="label label-default">{{ job.status }}</span></td>
            <td ng-if="job.status == 'pending'"><span class="label label-default">{{ job.status }}</span></td>
            <td ng-if="job.status == 'excluded'"><span class="label label-success">{{ job.status }}</span></td>
	    	  	<td ng-if="!job.showLog && job.output != nil && job.output != ''"><button class="btn btn-xs btn-info" ng-click="showLog($index)">Log</button></td>
            <td ng-if="job.showLog"><button class="btn btn-xs btn-info active" ng-click="showLog($index)">Log</button></td>
            <td ng-if="job.output == nil || job.output == ''"></td>
         </tr>
	    	 <tr ng-if="job.showLog">
		  		<td colspan="5">
		  			<pre style="color: #eee; background: black; margin: 0; line-height: 1.3; font-family: monaco, "Courier New", Courier, monospace;" >{{job.output}}</pre>
				</td>
    	  <tr style="display: none" ng-repeat-end></tr>	    
    	</tbody>
    </table>
  </div>
</div>
